<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Homework Box Mystery</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Mali" rel="stylesheet">
    <style>
        body {
            font-family: Mali, cursive
        }

        p {
            font-size: 18px
        }
    </style>
</head>

<body>
    <div class="container py-5">
        <p>Vahid is my friend. He has given me his homework which has some A4 papers punched with a staple on the top
            left of the papers, punched in the 45 degree angle. He asked me to put the papers in the box but I don't
            know where is the box for such a homework?</p>
        <div class="text-center py-3 mb-2"><img src="https://cdn.pbrd.co/images/HKK6mW5.jpg" class="mw-100"></div>
        <p>There are multiple boxes. Which ones are for this homework?</p>
        <div class="text-center py-3 mb-3"><img src="https://cdn.pbrd.co/images/HKKlAjW.jpg" class="mw-100"></div>
        <p>I think it's talking about two mysterious numbers from 1 to 11!! concatenate them.</p>
    </div>
</body>

</html>