<head>
    <title>The Maze</title>
    <link rel="stylesheet" href="/stylesheets/puzzleList.css">
    <link href="https://cdn.rawgit.com/rastikerdar/sahel-font/v1.0.0-alpha21/dist/font-face.css" rel="stylesheet" type="text/css" />
    <meta charset="utf-8">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns"
        crossorigin="anonymous">
</head>

<body>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
    <!-- <div class="maze_image">
        <img src="./maze_pic.jpg">
    </div> -->
    <div class="header">
        <h3> پازل های باز شده : </h3>
        <div class="links">

            <div class="icons" onclick="openInstruction()">
                <button class="btn"> دستورالعمل </button>
                <i class="fa fa-info"></i>
            </div>

            <div class="icons" onclick="openMap()">
                <button class="btn"> نقشه مناطق </button>
                <i class="fa fa-map"></i>
            </div>

        </div>
    </div>
    <div class="card_container">
        <% mazePuzzles.forEach(function(mazePuzzle){ %>
            <div class="card" data-aos="zoom-in">
                <a href="/maze/puzzles/<%= mazePuzzle.id %>">
                    <div class="card_top_section">
                        <img src="/images/puzzle_<%=mazePuzzle.title%>.jpg">
                    </div>
                    <div class="card_bottom_section">
                        <p> <%= mazePuzzle.title %> </p>
                    </div>
                </a>
            </div>
        <% }) %>
    </div>
</body>