<h1>New User</h1>
<form action="/admin/user" method="post">
    <input name="username" placeholder="username">
    <input name="name" placeholder="name">
    <input name="password" placeholder="password">
    <input type="submit">
</form>