<head>
    <title>
        New Clue
    </title>
</head>
<body>
<h1>New</h1>
<form action="/admin/maze/clue" method="post">
    <input name="locationIndex" placeholder="locationIndex">
    <input name="name" placeholder="name">
    <textarea name="html" placeholder="html"></textarea>
    <input title="submit" type="submit">
</form>
</body>