<!DOCTYPE html>
<html>
<head>
    <title> The Maze </title>
    <meta charset="utf-8">
    <style>
        body{
            background-color:rgba(23, 41, 58, .8);
            font-family: sahel;
        }
        * {
            margin: 0;
            padding: 0;
        }

        canvas {
            display: block;
        }
    </style>
</head>
<body>
<link href="https://cdn.rawgit.com/rastikerdar/sahel-font/v1.0.0-alpha21/dist/font-face.css" rel="stylesheet" type="text/css"/>
<link href='https://fonts.googleapis.com/css?family=Noto+Serif:700,700italic' rel='stylesheet' type='text/css'>
<div style="padding: 3%;">
    <h1 style="direction: rtl">
      درباره‌ی The Maze این یک مسابقه است
    </h1>
</div>
</body>
</html>

