<head>
    <title>
        Puzzles
    </title>
</head>
<body>
<h1>List</h1>
<div>
    <a href="/admin/puzzle/new">New</a>
    <ol>
        <% puzzles.forEach(function(puzzle) { %>
        <li>
            <a href="/admin/puzzle/<%= puzzle.id %>">
                <%= puzzle.title %>
            </a>
        </li>
        <% }) %>
    </ol>
</div>
</body>