<h1>List</h1>
<div>
    <a href="new">New</a>
    <ol>
        <%puzzles.forEach(function(puzzle) {%>
            <li>
                <a href="puzzle/<%=puzzle.id%>">
                    <%=puzzle.title%>
                </a>
            </li>
        <%})%>
    </ol>
</div>