<head>
    <title>
        Puzzle
    </title>
</head>
<body>
<h1>New</h1>
<form action="/admin/puzzle" method="post">
    <input name="title" placeholder="title">
    <textarea name="description" placeholder="description"></textarea>
    <textarea name="feedback" placeholder="feedback"></textarea>
    <textarea name="solution" placeholder="solution"></textarea>
    <input title="submit" type="submit">
</form>
</body>