<!DOCTYPE html>
<html>
    <head>
        <title>Guard</title>
        <link rel='stylesheet' href='/stylesheets/style.css'/>
    </head>
    <body>
        <h1>You can only use one tab to access website</h1>
    </body>
</html>
